<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="//fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<style>
article img {
  border: 0;
}
aside.sidebar img {
  border-color: #e0e0e0;
}
article img, article video, article .flash-video{
  box-shadow: rgba(255,255,255,0.15) 0 1px 4px;
}
</style>

<!-- badge -->
<style type="text/css">
  .badge1 {
  position:relative;
  }
  .badge1[data-badge]:after {
  content: attr(data-badge);
  position: absolute;
  /*top: -10px;*/
  right: -30px;
  font-size: .7em;
  background: #c57373;
  color: white;
  /* width: 18px; */
  min-width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  border-radius: 450%;
  box-shadow: 0 0 1px #333;

  padding: 2px;
  }
</style>

<!-- equation -->
<style type="text/css">
  .eq
  {       text-align: center;
          display: block;
          margin-bottom: 13px;
          clear:both;
  }
  .eq.eq-no { float:right }
  span.eq-no {
          float: right;
  }
  .eq.eq-expression { float:left }
  span.eq-expression { float:center }

</style>